
  <!-- navigation -->
  
  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
          <a routerLink="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/Home">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/About">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Service">
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Resume">
                Resume
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Work">
                Work
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup">
                SignUp
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- Mobile Menu Start -->
      <ul class="onepage-nev mobile-menu">
        <li>
          <a routerLink="/Home">Home</a>
        </li>
        <li>
          <a routerLink="/About">about</a>
        </li>
        <li>
          <a routerLink="/Services">Services</a>
        </li>
        <li>
          <a routerLink="/Resume">resume</a>
        </li>
        <li>
          <a routerLink="/Work">Work</a>
        </li>
        <li>
          <a routerLink="/signup">SignUp</a>
        </li>
      </ul>
      <!-- Mobile Menu End -->
    </nav>
    <!-- Navbar End -->
  
  
  </header>
  <!-- Header Area wrapper End -->
  

