  <!-- StringInterpolation -->
   <!-- Event-binding -->
  
  
  <!-- About Section Start -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
            <img class="img-fluid" src="assets/img/about/arjun.jpg" alt="">
          </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
            <h3>{{heading}}</h3>
            <p>{{para}}</p>
          
            <div class="about-profile">
              <ul class="admin-profile">
                <li><span class="pro-title"> Name </span> <span class="pro-detail">{{name}}</span></li>
                <li><span class="pro-title"> Age </span> <span class="pro-detail">{{age}}</span></li>
                <li><span class="pro-title"> Experience </span> <span class="pro-detail">{{Experience}}</span></li>
                <li><span class="pro-title"> Country </span> <span class="pro-detail">{{Country}}</span></li>
                <li><span class="pro-title"> Location </span> <span class="pro-detail">{{Location}}</span></li>
                <li><span class="pro-title"> e-mail </span> <span class="pro-detail">{{ email }}</span></li>
                <li><span class="pro-title"> Phone </span> <span class="pro-detail">{{Phone}}</span></li>
                <li><span class="pro-title"> Freelance </span> <span class="pro-detail">{{Freelance}}</span></li>
              </ul>
            </div>

          <button  class="btn btn-primary" routerLink="/Resume">Read more...</button>
          <button  class="btn btn-danger" routerLink="/Work">Work</button>
          
          </div>
        </div>   
      </div>
    </div>
  </section>
  <!-- About Section End -->


