<!-- property-Binding -->

<div class="container">
  <!-- Services Section Start -->
  <section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
      <div class="row">
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
            <div class="icon">
              <i class="icon-grid"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Front-end Development</a></h3>
              <h4>latest-technology</h4>
              <h5>'Angular'</h5>
              <h5>'Html'</h5>
              <h5>'Css'</h5>
              
              <p>Web design is the planning and creation of websites. 
                This includes the information architecture, user interface, 
                site structure, navigation, layout, colors, fonts, and imagery.
                 All of these are combined with the principles of design to create a website
                  that meets the goals of the owner and designer.
                  
                  </p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon">
              <i class="icon-layers"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">back-end Development</a></h3>
              <h4>latest-technology</h4>
              <h5>'Nodejs'</h5>
              <h5>'Expressjs'</h5>
              <h5>'MongoDb'</h5>
              
              <p>Web design is the planning and creation of websites. 
                This includes the information architecture, user interface, 
                site structure, navigation, layout, colors, fonts, and imagery.
                 All of these are combined with the principles of design to create a website
                  that meets the goals of the owner and designer.
                  
                  </p>

            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
            <div class="icon">
              <i class="icon-briefcase"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Mean-Stack Developer</a></h3>
              <h4>latest-technology</h4>
              <h5>'Angular'</h5>
              <h5>'Nodejs','Expressjs'</h5>
              <h5>'mongoDb'</h5>
             
              
              <p>Web design is the planning and creation of websites. 
                This includes the information architecture, user interface, 
                site structure, navigation, layout, colors, fonts, and imagery.
                 All of these are combined with the principles of design to create a website
                  that meets the goals of the owner and designer.
                  
                  </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->
</div>

