
    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Bsc Computers - SKU University</h3>
                    <span>2016 - 2019</span>
                    <p class="line-text">
                        Iam Pursuing  bsc  3rd year </p>
                  </div>
                </li>
                <li>
                    <div class="content-text">
                      <h3 class="line-title">sri chaitanya college- Anantapur</h3>
                      <span>2013 - 2015</span>
                      <p class="line-text">percentage-73%</p>
                    </div>
                  </li>
   
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Keshava Reddy Concept School -Tirupathi </h3>
                    <span>2012 - 2013</span>
                    <p class="line-text">percentage-85%</p>
                  </div>
                </li>
               </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Angular</h3>
                     <p>Experience creating front end applications using  Angular2,4,6,7</p>
                    
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Nodejs</h3>
                    <p>In depth knowledge of NodeJS, ExpressJS,MongoDB</p>
                    
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Javascript</h3>
                    <p>Hands on experience with JavaScript Development on both client and server-side</p>                  
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->


